doctype html
html
  head
    title='Monitorização'
    link(rel='stylesheet', href='/stylesheets/w3.css')
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/v4-shims.css")
  body
    block content
